In [ ]:
import os
os.chdir('C:/Users/ALBANY PC/Desktop/FINAL YEAR PROJECT/Albany MRS')
import json
import pandas as pd

In [ ]:
import pandas as pd

# # Import dataset to Data Frame

# data = pd.read_csv("./Data/movie_metadata.csv")
# data.head()

ModuleNotFoundError: No module named 'pandas'

In [ ]:
# Print the Shape of Data
data.shape

(5043, 28)

In [ ]:
# I will be using the four colums below.
#Create a dataframe for the required columns

df = data[['genres','movie_title','imdb_score', 'movie_imdb_link']].copy()
df.head()

,genres,movie_title,imdb_score,movie_imdb_link
0,Action|Adventure|Fantasy|Sci-Fi,Avatar,7.9,http://www.imdb.com/title/tt0499549/?ref_=fn_t...
1,Action|Adventure|Fantasy,Pirates of the Caribbean: At World's End,7.1,http://www.imdb.com/title/tt0449088/?ref_=fn_t...
2,Action|Adventure|Thriller,Spectre,6.8,http://www.imdb.com/title/tt2379713/?ref_=fn_t...
3,Action|Thriller,The Dark Knight Rises,8.5,http://www.imdb.com/title/tt1345836/?ref_=fn_t...
4,Documentary,Star Wars: Episode VII - The Force Awakens ...,7.1,http://www.imdb.com/title/tt5289954/?ref_=fn_t...

In [ ]:
# Fetch genre of all movies
# loops each row and splits the genres
genres_all_movies = [df.loc[i]['genres'].split('|') for i in df.index]
# type(genres_all_movies)


#Find the list of all genres of all movies in aphabetical order
# This next bit digs into each of the sublists in the genres array and extracts each of 
# the items from each sublist and dumps them into a single giant list. This is done using 
# a syntax called a list comprehension. This technique of extracting data from nested sublists 
# into a single list is called flattening.

genres = sorted(list(set([item for sublist in genres_all_movies for item in sublist])))
genres

['Action',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Film-Noir',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Thriller',
 'War',
 'Western']

In [ ]:
# Just Checking for the length of genres
len(genres)

26

In [ ]:
# Create a list for movie details and movie title seperately

full_data=[]
movie_titles = []

In [ ]:
#I was curious about the type of the df before exporting to csv
type(df)

pandas.core.frame.DataFrame

In [ ]:
# I want to see the df, This is fun 😂😍
# Dont mind me ahbeg 🤣🤣🤣
#print(df)
df

,genres,movie_title,imdb_score,movie_imdb_link
0,Action|Adventure|Fantasy|Sci-Fi,Avatar,7.9,http://www.imdb.com/title/tt0499549/?ref_=fn_t...
1,Action|Adventure|Fantasy,Pirates of the Caribbean: At World's End,7.1,http://www.imdb.com/title/tt0449088/?ref_=fn_t...
2,Action|Adventure|Thriller,Spectre,6.8,http://www.imdb.com/title/tt2379713/?ref_=fn_t...
3,Action|Thriller,The Dark Knight Rises,8.5,http://www.imdb.com/title/tt1345836/?ref_=fn_t...
4,Documentary,Star Wars: Episode VII - The Force Awakens ...,7.1,http://www.imdb.com/title/tt5289954/?ref_=fn_t...
...,...,...,...,...
5038,Comedy|Drama,Signed Sealed Delivered,7.7,http://www.imdb.com/title/tt3000844/?ref_=fn_t...
5039,Crime|Drama|Mystery|Thriller,The Following,7.5,http://www.imdb.com/title/tt2071645/?ref_=fn_t...
5040,Drama|Horror|Thriller,A Plague So Pleasant,6.3,http://www.imdb.com/title/tt2107644/?ref_=fn_t...
5041,Comedy|Drama|Romance,Shanghai Calling,6.3,http://www.imdb.com/title/tt2070597/?ref_=fn_t...
5042,Documentary,My Date with Drew,6.6,http://www.imdb.com/title/tt0378407/?ref_=fn_t...

In [ ]:
# I exported the df to CSv named 'test' so i can go open and view the data to understand how the codes in
#  the next cell will work. Make I no go crash my lappy 🙄😏😂

df.to_csv('test.csv')

In [ ]:
for i in df.index:
    #Append movie title and the index of the movie
    movie_titles.append((df.loc[i]['movie_title'].strip(), i, df.loc[i]['movie_imdb_link'].strip()))
    
    #Add List of genres of the movie (1/10) to movie data
    # What happens here is that i'm looping through all the rows in my df and I am assigning 1 to the list if 
    # a genre in the row is found in the genres list i have crfeated above. Else it assigns 0.
    # Meaning I will now have a list of 26 either 0s or 1s based on which genre dey inside the table.
    # I hope I am not confusing your confusion... E no easy..Buh try 😪😪😪
    movie_data = [1 if genre in df.loc[i]['genres'].split('|') else 0 for genre in genres]
    
    # Add IMDB score of the movie to main data
    movie_data.append(df.loc[i]['imdb_score'])
    
    #Add record of movie to main data list
    # SK account Number 0222141656
    
    full_data.append(movie_data)

In [ ]:
# View the list to see the data stored in each list in the movie_titles  list
print(movie_titles[1])

# Wetin i dey try do now fit hang my system buh who am i not to satisfy my curiosity 😆
# print(movie_titles)

("Pirates of the Caribbean: At World's End", 1, 'http://www.imdb.com/title/tt0449088/?ref_=fn_tt_tt_1')

# View the list to see the data stored in each list in the full_data  list
print(full_data[2])

In [ ]:
print(movie_titles)

NameError: name 'movie_titles' is not defined

In [ ]:
# Exporting the two data as JSON files (JSON dump into Specific Folder)
# Syntax
# dictionary to be dumped
# ''''''''''''''''''
# d ={'lang':'??? ????'}

# with open('myfile.json', 'w', encoding ='utf8') as json_file:
# 	json.dump(d, json_file, ensure_ascii = False)
# ''''''''''''''''''


data_dump = './Data/movie_data.json'
titles_dump = './Data/movie_titles.json'

with open(data_dump, 'w+', encoding = 'utf-8') as f:
    json.dump(full_data, f)
    
with open(titles_dump, 'w+', encoding = 'utf-8') as f:
    json.dump(movie_titles, f)

In [ ]:
# print(titles_dump)
print("Albany")

In [ ]:
print('Alna')

Alna